<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #e8e8e8;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Benimle aşağıdaki bilgileri kullanarak iletişime geçebilirsiniz.</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Bağlantılar</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
            <a href="https://www.linkedin.com/in/ali-bak%C4%B1r-26b248132/" target="_blank">LinkedIn</a>
        </p>
        <p>
          <a href="https://www.instagram.com/_alibakir/?hl=tr" target="_blank">Instagram</a>
        </p>
        <p>
          <a href="https://twitter.com/iliyya_" target="_blank">Twitter</a>
        </p>
       
       

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">İletişim</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> İzmir, TR</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> alibakirnet@gmail.com</p>
            <p>
          <i class="fas fa-envelope mr-3"></i> alibakir3558@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i>+90 (553) 738 88 71</p>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Ali BAKIR
  </div>
  <hr>
  <!-- Copyright -->

</footer>
<!-- Footer -->